* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navbarrr */
.navbar {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Heroooo */

.login {
   /* margin-top: 190px; */
    display: flex;
    height: 100vh;
    background-size: cover;
    position: relative;
    align-items:center;
}


.login-tittle {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: black;
}


.form-group{
    width: 600px;
    margin: 0 auto;
    /* background-color: black; */
}
.form-group input {
    width: 100%;
    padding: 10px;
    padding-left: 50  ;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); */  */
}

.login-button {
    width: 100%;
    background-color: black;
    padding: 10px ;
    background-color: #4caf50;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
    background-color: #000000;
    color: #FFFFFF;
}