* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.heroproduct {
    margin-top: 105px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    background-position: center;
    min-height: 100vh;
  
    position: relative;
}