* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.info-profile {
    font-weight: 100; /* Atur ketebalan teks pada elemen h3 menjadi 400 (normal/regular) */
    margin-bottom: 30px;
}

.heroproduct {
    /* margin-top: 50px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    background-position: center;
    min-height: 70vh;

    position: relative;
}

.product-penjual {
    /* margin-top: 20px; */
    /* text-align: center; */
    display: flex;
    min-height: 165vh;
    position: relative;
}

.product-info-penjual {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    justify-content: space-between;
    display: flex;
    color: black;
    position: relative;
    padding-left: 530px;
    /* margin-left: 100px; */
}

.product-info-produk {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    justify-content: space-between;
    display: flex;
    color: black;
    position: relative;
}

.deskrip {
    /* font-size: 12px; */
    margin-bottom: 40px;
    font-weight: 100;
}

.info-pesan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.btn-panjang {
    background-color: black;
    color: white;
    padding: 10px 100px; /* Sesuaikan padding sesuai kebutuhan */
}

.info-preorder {
    margin-top: 30px;
    /* padding-top: 100px; */
    position: relative;
    display: flex;
    font-weight: 500;
}
.info-kirim {
    font-weight: 100;
}

.product-image {
    position: relative;
    display: flex;
    width: 700px; /* Atur lebar gambar menjadi 400px */
    height: 400px; /* Atur panjang gambar menjadi otomatis (tetap panjang) */
}

.menus {
    /* margin-left: ; */
    /* margin-left: 55px; */
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: rebeccapurple; */
}

/* card */

.card {
    width: 100%;
    /* margin-left: 50px; */
    /* width: 280px; */
    min-width: 100px;
    max-width: 300px;
    /* background-color: red; */
    border-radius: 12px;
    transition: box-shadow 0.3s ease-in-out;
    /* Efek transisi untuk in dan out */
    box-shadow: none;
    /* Bayangan awal */
    /* height:20rem; */
}

.card:hover {
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.12),
        0 4px 8px rgba(0, 0, 0, 0.06);
    /* Bayangan saat hover */
    transition: box-shadow 0.3s ease-in-out;
    /* Efek transisi saat hover */
}

.card-title {
    font-size: 15px;
    font-weight: 300;
}

.card-text {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Menambahkan elipsis (...) jika teks terlalu panjang */
    white-space: nowrap;
    /* white-space: n; */
    /* Mencegah teks untuk mematahkan baris */
}

.card-text2 {
    /* padding-top: -4px; */
    margin-top: -12px;
    /* padding-bottom: 15px; */
    font-size: 12px;
}

/* Responsive */
@media only screen and (min-width: 758px) {
    .search-form {
        width: 500px;
    }
}

.menus {
    /* margin-left: ; */
    /* margin-left: 55px; */
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: rebeccapurple; */
}

/* card */

.card {
    width: 100%;
    /* margin-left: 50px; */
    /* width: 280px; */

    max-width: 400px;
    /* background-color: red; */
    border-radius: 12px;
    transition: box-shadow 0.3s ease-in-out;
    /* Efek transisi untuk in dan out */
    box-shadow: none;
    /* Bayangan awal */
    /* height:20rem; */
}

.card:hover {
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.12),
        0 4px 8px rgba(0, 0, 0, 0.06);
    /* Bayangan saat hover */
    transition: box-shadow 0.3s ease-in-out;
    /* Efek transisi saat hover */
}

.card-title {
    font-size: 15px;
    font-weight: 300;
}

.card-text {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Menambahkan elipsis (...) jika teks terlalu panjang */
    white-space: nowrap;
    /* white-space: n; */
    /* Mencegah teks untuk mematahkan baris */
}

.card-text2 {
    /* padding-top: -4px; */
    margin-top: -12px;
    /* padding-bottom: 15px; */
    font-size: 12px;
}

/* Media queries untuk tampilan portrait (lebar layar < 768px) */
@media (max-width: 993px) {
    .menus .row [class*='col-'] {
        flex: 0 0 50%; /* Menampilkan 2 kartu per baris */
        max-width: 50%;
    }

    .imagecard {
        max-width: 150px;
        border-radius: 12px;
        max-height: 150px;
        overflow: hidden;
        position: relative;
    }

    .card {
        flex-direction: row;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .menus .row [class*='col-'] {
        flex: 0 0 100%; /* Menampilkan 1 kartu per baris */
        max-width: 100%;
    }

    .card {
        position: relative;
        flex-direction: row;
        overflow: hidden;
        max-width: 600px;
    }

    .imagecard {
        max-width: 150px;
        border-radius: 12px;
        max-height: 150px;
        overflow: hidden;
        position: relative;
    }

    .card .card-img-top {
        max-height: 150px;
        overflow: hidden;
    }
}

.deskripsi {
    /* background-color: red; */
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    object-fit: contain;
}

/* Untuk layar dengan lebar kurang dari atau sama dengan 991.98px */
@media (max-width: 991.98px) {
    .col-lg-6 {
        flex-basis: 100%;
        max-width: 100%;
        text-align: center; /* Mengatur teks menjadi tengah */
        margin-bottom: 10px; /* Menambahkan ruang antara kedua elemen */
    }
}

.box1 {
    flex: 1;
}

.box2 {
    flex: 1;
    align-content: end;
}

@media (max-width: 991.98px) {
    .box2 {
        /* background-color: red; */
        align-items: end;
        text-align: end;
    }
}
@media (max-width: 992px) {
    .product-info {
        text-align: left;
        margin-top: 20px;
    }

    .btn-panjang {
        background-color: black;
        color: white;
        padding: 10px 50px; /* Sesuaikan padding sesuai kebutuhan */
    }

    .imagecard {
        max-width: 150px;
        border-radius: 12px;
        max-height: 130px;
        overflow: hidden;
        position: relative;
    }

    .card {
        flex-direction: row;
        overflow: hidden;
    }
    .heroproduct {
        margin-top: -100px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        background-position: center;
        min-height: 87vh;

        position: relative;
    }
    .deskrip {
        font-size: 12px;
        margin-bottom: 40px;
        font-weight: 100;
    }
}

.info-profile {
    font-size: 18px;
}

.nama-produk {
    font-size: 25px;
    margin-top: -25px;
    font-weight: 400;
}

.harga {
    font-size: 15xp;
}
